.NavBar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
}

.videoNavBar {
    z-index: 0;
}

.video {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.leftNavBar {
    width: 50%;
    z-index: 1;
}

.rightNavBar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    z-index: 1;
}

.NavBarLinks {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-left: 30px;
}

.NavBarLinks:hover {
    font-weight: 600;
}

.logoImage {
    width: 150px;
}