.aboutPage {
  animation: opacity-animation 1s ease;
  height: 80vh;
}

.daniPhoto {
  width: 100%;
}

/* @media only screen and (max-width: 600px) {
    .aboutPage {
      background-color: lightblue;
    }
  } */
