.aboutPage {
  animation: opacity-animation 1s ease;
  font-family: "Arvo", sans-serif;
  color: wheat;
}

.imageContainer {
  text-align: center;
}

.daniPhoto {
  width: 60%;
}

.dandaAboutText {
  text-align: justify;
  font-size: 1.3rem;
}

/* @media only screen and (max-width: 600px) {
    .aboutPage {
      background-color: lightblue;
    }
} */

/* @media only screen and (max-width: 992px) {
  #imageOne {
    order: 1;
  }

  .textOne {
    order: 2;
  }

  .imageTwo {
    order: 3;
  }

  .textTwo {
    order: 4;
  }

  .imageThree {
    order: 5;
  }

  .textThree {
    order: 6;
  }

} */