.HomeContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    padding: 0%;
    text-decoration: none;
    color: black;
}

.homeTitle {
    opacity: 0%;
    transition: opacity 500ms;
    height: 100%;
}

.link:hover .homeTitle {
    opacity: 100%;
}