.ProjectContainer {
  color: wheat;
}

.project {
  animation: opacity-animation 1s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 50px;
}

.iframeVideo {
  height: 60vh;
}

.projectDescription {
  height: 30vh;
  width: 50%;
}

.ratio {
  width: 65%;
  height: 550px;
}

.projectVideo {
  height: 650px;
}

/* .carousel-inner {
  height: 450px;
} */

.photoContainer {
  margin-top: 5%;
  width: 80%;
  z-index: 0;
}

.photoImage {
  max-width: 65%;
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorPage h1 {
  color: wheat;
  margin-bottom: 50px;
  text-align: center;
}

.errorPage button {
  background-color: wheat;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .photoImage {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1328px) {
  .errorPage {
    height: 80vh;
  }
}