.ProjectContainer {
  color: wheat;
}

.project {
  animation: opacity-animation 1s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 50px;
}

.iframeVideo {
  height: 60vh;
}

.projectDescription {
  height: 30vh;
  width: 50%;
}

.ratio {
  width: 65%;
  height: 550px;
}

.projectVideo {
  height: 650px;
}

.photoContainer {
  margin-top: 5%;
  width: 80%;
}

.photoImage {
  height: 85vh;
}
